# Variáveis de ambiente e credenciais (senhas e chaves AWS/bancos)
.env

# Ambiente virtual Python
venv/
.venv/

# Arquivos de cache e compilação do Python
__pycache__/
*.pyc

# Configurações do VS Code ou IDEs
.vscode/

# Arquivos temporários e de checkpoint do Jupyter
.ipynb_checkpoints/
*.log
*.tmp

